<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<% for (let i = 0; i < errors.length; i++) { %>
    <li>
         <%= errors[i].msg %>
    
    </li>
<% } %>
</body>
</html>
